<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vegable | Garden like you know what you're doing</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/favicon-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap-table.css" rel="stylesheet">
    <link href="assets/css/bootstrap-select.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

  </head>


  <body class="has-sidemenu overflow-hidden-x">

    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
      data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="/">
          <img class="fancynavbar-brand-img" src="./assets/img/logos/icon-white.svg" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"
          />

          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-3'></span>-->
          <!--<span class='logo-sparrow'>S</span>--></a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
          <a class="fancynavbar-addon-item" href="/signout">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 299.7 299.7" style="enable-background:new 0 0 299.7 299.7;" xml:space="preserve">
              <g>
                <path class="svg-white" d="M273.8,113.4H93.2c-4.5,0-8.1,3.6-8.1,8.1s3.6,8.1,8.1,8.1h180.6l-46.2,46.2c-3.2,3.2-3.2,8.1,0,11.3
                  c1.6,1.6,3.6,2.4,5.7,2.4c2,0,4-0.8,5.7-2.4l59.9-59.9v-2.4c0.4-0.8,0.8-2,0.8-3.2s-0.4-2-0.8-3.2v-2.4l-59.9-60.3
                  c-3.2-3.2-8.1-3.2-11.3,0c-3.2,3.2-3.2,8.1,0,11.3L273.8,113.4z"/>
                <path class="svg-white" d="M26.3,243h149.4c14.6,0,26.3-11.7,26.3-26.3v-38.5c0-4.5-3.6-8.1-8.1-8.1c-4.5,0-8.1,3.6-8.1,8.1v38.5
                  c0,5.7-4.5,10.1-10.1,10.1H26.3c-5.7,0-10.1-4.5-10.1-10.1V26.3c0-5.7,4.5-10.1,10.1-10.1h149.4c5.7,0,10.1,4.5,10.1,10.1v38.5
                  c0,4.5,3.6,8.1,8.1,8.1c4.5,0,8.1-3.6,8.1-8.1V26.3c0-14.6-11.7-26.3-26.3-26.3H26.3C11.7,0,0,11.7,0,26.3v189.9
                  C0,231.3,11.7,243,26.3,243z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
          <li class="fancynav-item">
            <a class="fancynav-link" href="/zones"><span class="fancynav-link-content">zones</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/plantings"><span class="fancynav-link-content">plantings</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/events"><span class="fancynav-link-content">schedules</span></a>
          </li>
           <li class="fancynav-item">
            <a class="fancynav-link" href="/settings"><span class="fancynav-link-content">settings</span></a>
          </li>
       </ul>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light pt-8 pb-7 pt-lg-6 pb-lg-5 pt-xl-8 pb-xl-7">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h1 class="fs-3 fs-sm-4">Settings</h1>
              <p class="lead">Profile, Practices &amp; Crops</p>
            </div>
            <div class="col-lg-6 col-xl-5 text-lg-right">
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">
        <div class="container mt-3">
          <div class="fancy-tab">
            <div class="nav-bar">
              <div class="nav-bar-item active">Basic</div>
              <div class="nav-bar-item">Advanced</div>
            </div>
            <div class="tab-contents">
              <div class="tab-content active">
                <div class="row justify-content-between">
                  <div class="col-lg-12 pt-3 pb-3">
                    <h3>Location</h3>
                    <form class="needs-validation mt-5" method="post" action="/settings/location/set" novalidate>
                      <div class="row mb-4">
                        <div class="col">
                          <input class="form-control border-300 bg-light" type="text" placeholder="Your Address" id="address" name="address"  value="<%= config.address %>" required=""/>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col">
                          <input class="form-control border-300 bg-light" type="text" placeholder="Your City" id="city" name="city" value="<%= config.city %>" required=""/>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col">
                          <select class="selectpicker form-control" id="state" name="state" data-size="7" required="">
                            <%
                              var states = [ "", "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL",
                                      "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "MA",
                                      "ME", "MD", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
                                      "NH", "NJ", "NM", "NY", "OH", "OK", "OR", "PA", "RI", "SC",
                                      "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
                                    ];
                              for ( var i = 0; i < states.length; i++ ) {
                                var selected = ( config.state === states[i] ) ? "selected" : "";

                                %><option value="<%=states[ i ] %>" <%=selected %>><%=states[ i ] %></option><%
                              }
                            %>
                          </select>
                        </div>
                        <div class="col">
                          <input class="form-control border-300 bg-light" type="text" placeholder="Your Zipcode" id="zip" name="zip" value="<%= config.zip %>" required=""/>
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col">
                          <h4 for="etzone" class="col-form-label">Evapotranspiration Reference (ETr) Zone</h4>
                          <p>
                            Evapotranspiration (ET) is the term used to describe the loss of water to the atmosphere by the combined processes of evaporation (from soil and plant surfaces) and transpiration (from plant tissues) and is needed for irrigation scheduling. Vegable retrieves ETo from CIMIS to calculate ETc for plantings/crops. If the CIMIS ETo can not be obtained, the ETr for your zone is used.
                          </p>
                          <p>
                            Choose the zone that most accurately represents the micro climate at your location.
                          </p>
                          <select  class="selectpicker form-control" id="etzone" name="etzone">
                            <%
                               for(var i=0; i < etrs.length; i++) { 
                                 var selected = ( config.etzone === etrs[i].zone ) ? "selected" : "";

                                 %><option value="<%= etrs[i].zone %>" <%=selected %>><%=etrs[i].title %></option><%
                               }
                            %>
                          </select>
                        </div>
                      </div>  
                      <div class="d-flex">
                        <div class="ml-auto p-2"><button type="submit" class="btn btn-sm btn-dark">Save</button></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-content">
                <div class="row justify-content-between">
                  <div class="col-lg-12 pt-3 pb-3">
                    <h3>Practices</h3>
                    <form class="needs-validation mt-3" method="post" action="/settings/practice/set" novalidate>
                      <div class="row mb-4">
                        <div class="col">
                          <h4 for="etzone" class="col-form-label">Sustainable, Organic or Biodynamic</h4>
                          <p>
                            Definitions for these practices can be contentious and variable. But in short, if you employ one of these practices, Vegable will take them to mean:
                            <ul>
                              <li><strong>Sustainable</strong>: You follow good environmental stewardship. You use synthetic fertilizers, pesticides and fungicides ONLY sparingly.</li>
                              <li><strong>Organic</strong>: You look to improve the environment. You don't use any synthetic fertiliers, pesticides or fungicides. You control pest and disease with minimal applications of natural products.</li>
                              <li><strong>Biodynamic</strong>: You follow a holistic, ecological approach to gardening. You use biodiversity and environmental conditions to control pests and disease. </li>
                            </ul>
                          </p>
                          <p>
                            Choose which practice Vegable should follow.
                          </p>
                           <select class="selectpicker form-control" id="practice" name="practice" data-size="7" required="">
                            <%
                              var practiceTypes = [ "Sustainable", "Organic", "Biodynamic" ];
                              var practiceValue = [ 0, 1, 2 ];
                              for ( var i = 0; i < practiceTypes.length; i++ ) {
                                var selected = ( config.practice === practiceValue[i] ) ? "selected" : "";

                                %><option value="<%=practiceValue[ i ] %>" <%=selected %>><%=practiceTypes[ i ] %></option><%
                              }
                            %>
                          </select>
                        </div>
                      </div>  
                      <div class="d-flex">
                        <div class="ml-auto p-2"><button type="submit" class="btn btn-sm btn-dark">Save</button></div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="row justify-content-between">
                  <div class="col-lg-12 pt-3 pb-6">
                    <h3>Crops</h3>
                    <div class="table-responsive mt-3">
                      <div id="toolbar" class="btn-group">
                        <a rel="tooltip" title="Add Crop" href="javascript:void(0)" data-remodal-target="editCropModal">
                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
                            <g>
                              <path class="st0" d="M225.2,138h-63.9V74c0-6.3-5-11.7-11.7-11.7c-6.3,0-11.7,5-11.7,11.7V138H74c-6.3,0-11.7,5-11.7,11.7 c0,3.1,1.3,6,3.5,8.2c2.2,2.2,5,3.5,8.2,3.5H138v63.9c0,3.1,1.3,6,3.5,8.2s5,3.5,8.2,3.5c6.3,0,11.7-5,11.7-11.7v-63.9h63.9 c6.3,0,11.7-5,11.7-11.7C236.6,143.3,231.5,138,225.2,138z"/>
                              <path class="st0" d="M149.6,0C67.1,0,0,67.1,0,149.6s67.1,149.6,149.6,149.6s149.6-67.1,149.6-149.6S232.2,0,149.6,0z M149.6,276.3C79.7,276.3,23,219.6,23,149.6S79.7,23,149.6,23s126.6,56.7,126.6,126.6S219.6,276.3,149.6,276.3z"/>
                            </g>
                          </svg>
                        </a>
                      </div>
                      <table id="bootstrap-table" class="bootstrap-table table table-no-bordered" data-sort-name="date" data-sort-order="asc" data-toolbar="#toolbar" data-search="true" data-detail-view="true" data-detail-formatter="detailFormatter">
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">
        <div class="container">
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
		

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
          </div>
          <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
              Copyright &copy; 2018 Vegable</p>
          </div>
          <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="text-danger fas fa-heart mx-1"></span>by
              <a class="text-600" href="https://vegable.co/">Vegable</a>
            </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- ===============================================-->
    <!--    Modals-->
    <!-- ===============================================-->
    <div class="remodal" data-remodal-id="editCropModal" align="left" >
      <button class="remodal-close" data-remodal-action="close"></button>
      <h4 id="remodalTitle">Edit Crop</h4>
      <p>Change the name, stages, coefficients &amp; nutrients ...</p><br>

      <form id="cropForm" method="post" action="/settings/crops/update">

        <!--  HIDDEN FIELDS -->
        <input type="hidden" id="id" name="id"/>

        <div class="row mb-4">
          <div class="col">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
        </div>
        
        <div class="row">
          <div class="col" align="center">
            <h4>Crop Stages, Coefficients &amp; Nutrients</h4>
          </div>
        </div>

        <div class="row">
          <div class="col">
          </div>
          <div class="col" align="center">
            <label class="col-form-label">Days</label>
          </div>
          <div class="col" align="center">
            <label class="col-form-label">Kc</label>
          </div>
          <div class="col" align="center">
            <label class="col-form-label">N</label>
          </div>
          <div class="col" align="center">
            <label class="col-form-label">P</label>
          </div>
          <div class="col" align="center">
            <label class="col-form-label">K</label>
          </div>
          <div class="col" align="center">
            <label class="col-form-label">Frequency</label>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <label class="col-form-label">Initial</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initDay" name="initDay">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initKc" name="initKc">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initN" name="initN">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initP" name="initP">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initK" name="initK">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="initFreq" name="initFreq">
          </div>
       </div>
        <div class="row mb-4">
          <div class="col">
            <label class="col-form-label">Early</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devDay" name="devDay">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devKc" name="devKc">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devN" name="devN">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devP" name="devP">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devK" name="devK">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="devFreq" name="devFreq">
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <label class="col-form-label">Middle</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midDay" name="midDay">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midKc" name="midKc">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midN" name="midN">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midP" name="midP">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midK" name="midK">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="midFreq" name="midFreq">
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <label class="col-form-label">Late</label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateDay" name="lateDay">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateKc" name="lateKc">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateN" name="lateN">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateP" name="lateP">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateK" name="lateK">
          </div>
          <div class="col">
            <input type="text" class="form-control" id="lateFreq" name="lateFreq">
          </div>
        </div>

       <div class="d-flex">
          <div class="p-2"><button type="submit" class="btn btn-sm btn-primary">Save</button></div>
          <div class="p-2"><button type="button" class="btn btn-sm btn-outline-secondary" data-remodal-action="cancel">Cancel</button></div>
          <div class="ml-auto p-2 hide-form-button" id="delete_action"><button name="action" type="submit" class="btn btn-sm btn-outline-danger" value="delete">Delete</button></div>
        </div>
      </form>
    </div>
      
      
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/remodal/remodal.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/js/bootstrap-table.js"></script>
    <script src="assets/js/theme.js"></script>

    <!-- Vegable Javascript -->
    <script src="assets/js/vegable/settings.js"></script>

  </body>

</html>