<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Vegable | Garden like you know what you're doing</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicons/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicons/favicon.ico">
    <link rel="manifest" href="./assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/favicon-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/lib/loaders.css/loaders.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <link href="assets/lib/remodal/remodal.css" rel="stylesheet">
    <link href="assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
    <link href="assets/css/bootstrap-table.css" rel="stylesheet">
    <link href="assets/css/bootstrap-select.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

  </head>


  <body class="has-sidemenu overflow-hidden-x">

    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
      data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="/">
          <img class="fancynavbar-brand-img" src="./assets/img/logos/icon-white.svg" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"
          />

          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-3'></span>-->
          <!--<span class='logo-sparrow'>S</span>--></a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
          <a class="fancynavbar-addon-item" href="/signout">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 299.7 299.7" style="enable-background:new 0 0 299.7 299.7;" xml:space="preserve">
              <g>
                <path class="svg-white" d="M273.8,113.4H93.2c-4.5,0-8.1,3.6-8.1,8.1s3.6,8.1,8.1,8.1h180.6l-46.2,46.2c-3.2,3.2-3.2,8.1,0,11.3
                  c1.6,1.6,3.6,2.4,5.7,2.4c2,0,4-0.8,5.7-2.4l59.9-59.9v-2.4c0.4-0.8,0.8-2,0.8-3.2s-0.4-2-0.8-3.2v-2.4l-59.9-60.3
                  c-3.2-3.2-8.1-3.2-11.3,0c-3.2,3.2-3.2,8.1,0,11.3L273.8,113.4z"/>
                <path class="svg-white" d="M26.3,243h149.4c14.6,0,26.3-11.7,26.3-26.3v-38.5c0-4.5-3.6-8.1-8.1-8.1c-4.5,0-8.1,3.6-8.1,8.1v38.5
                  c0,5.7-4.5,10.1-10.1,10.1H26.3c-5.7,0-10.1-4.5-10.1-10.1V26.3c0-5.7,4.5-10.1,10.1-10.1h149.4c5.7,0,10.1,4.5,10.1,10.1v38.5
                  c0,4.5,3.6,8.1,8.1,8.1c4.5,0,8.1-3.6,8.1-8.1V26.3c0-14.6-11.7-26.3-26.3-26.3H26.3C11.7,0,0,11.7,0,26.3v189.9
                  C0,231.3,11.7,243,26.3,243z"/>
              </g>
            </svg>
          </a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
          <li class="fancynav-item">
            <a class="fancynav-link" href="/zones"><span class="fancynav-link-content">zones</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/plantings"><span class="fancynav-link-content">plantings</span></a>
          </li>
          <li class="fancynav-item">
            <a class="fancynav-link" href="/events"><span class="fancynav-link-content">schedules</span></a>
          </li>
           <li class="fancynav-item">
            <a class="fancynav-link" href="/settings"><span class="fancynav-link-content">settings</span></a>
          </li>
       </ul>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->



    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main minh-100vh" id="top">


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-light pt-8 pb-7 pt-lg-6 pb-lg-5 pt-xl-8 pb-xl-7">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h1 class="fs-3 fs-sm-4">Zones</h1>
              <p class="lead">Current Status of Vegable Zones</p>
            </div>
            <div class="col-lg-6 col-xl-5 text-lg-right">
              <canvas id="weatherIcon" width="64" height="64"></canvas>
              <p id="weatherString" class="lead"></p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">

        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-6 pt-6 pb-3">
              <h3 class="text-danger mt-3">Control Zones</h3>
              <div class="table-responsive mt-3">
                <table id="cntl-zone-table" class="bootstrap-table table table-no-bordered" data-sort-name="name" data-sort-order="desc"></table>
              </div>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-lg-12 pb-6 pt-3">
              <h3 class="text-danger mt-3">Planting Zones</h3>
              <div class="table-responsive mt-3">
                <table id="open-zone-table" class="bootstrap-table table table-no-bordered" data-sort-name="id" data-sort-order="asc" data-detail-view="true" data-detail-formatter="detailFormatter"></table>
              </div>
           </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
		

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
          </div>
          <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
              Copyright &copy; 2018 Vegable</p>
          </div>
          <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="text-danger fas fa-heart mx-1"></span>by
              <a class="text-600" href="https://vegable.co/">Vegable</a>
            </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- ===============================================-->
    <!--    Modals-->
    <!-- ===============================================-->
    <div class="remodal" data-remodal-id="editZoneModal" align="left" >
      <button class="remodal-close" data-remodal-action="close"></button>
      <h4 id="remodalTitle">Edit Zone</h4>
      <p>Change the zone name, description and flow rate.</p><br>

      <form method="post" action="/zones/update">
        <!--  HIDDEN FIELDS -->
        <input type="hidden" id="id" name="id"/>
        <input type="hidden" id="aw" name="aw"/>
        <input type="hidden" id="ib" name="ib"/>
        <input type="hidden" id="color" name="color"/>
        <input type="hidden" id="textColor" name="textColor"/>

        <div class="row mb-4">
          <div class="col">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <label for="area" class="col-form-label">Area (sqft)</label>
            <input type="text" class="form-control" id="area" name="area">
          </div>
          <div class="col">
            <label for="swhc" class="col-form-label">Soil Type</label>
            <select class="selectpicker form-control" id="swhc" name="swhc" data-size="7" required="">
              <%
                var soilTypes = [ "Coarse", "Sandy", "Medium", "Fine" ];
                var soilWHC = [ "0.75", "1.25", "1.5", "2.0" ];
                for ( var i = 0; i < soilTypes.length; i++ ) {
                  %><option value="<%=soilWHC[ i ] %>"><%=soilTypes[ i ] %></option><%
                }
              %>
            </select>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <label for="irreff" class="col-form-label">Irrigation Type</label>
            <select class="selectpicker form-control" id="irreff" name="irreff" data-size="7" required="">
              <%
                var irrTypes = [ "Drip", "Spray" ];
                var irrEff = [ "90", "80" ];
                for ( var i = 0; i < irrTypes.length; i++ ) {
                  %><option value="<%=irrEff[ i ] / 100 %>"><%=irrTypes[ i ] %></option><%
                }
              %>
            </select>
          </div>
          <div class="col">
            <label for="flowrate" class="col-form-label">Flow Rate (gpm)</label>
            <select class="selectpicker form-control" id="flowrate" name="flowrate" data-size="7" required="">
              <%
                var flowTypes = [ "0.5", "1.0", "2.0" ];
                var rates = [ "0.5", "1", "2" ];
                for ( var i = 0; i < rates.length; i++ ) {
                  %><option value="<%=rates[ i ] %>"><%=flowTypes[ i ] %></option><%
                }
              %>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary mr-3">Save</button>
        <button type="button" class="btn btn-sm btn-outline-danger" data-remodal-action="cancel">Cancel</button>
      </form>
     </div>
      
    <div class="remodal" data-remodal-id="switchModal">
      <button class="remodal-close" data-remodal-action="close"></button>
      <h4 id="remodalTitle">Switch Zone</h4>
      <p></p>
      <button class="btn btn-sm btn-primary mr-3" data-remodal-action="confirm">Awesome</button>
    </div> 
      

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/lib/loaders.css/loaders.css.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/remodal/remodal.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/js/bootstrap-select.js"></script>
    <script src="assets/js/skycons.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/bootstrap-table.js"></script>
      
    <script type="text/javascript">
      var $cntlZoneTable = $('#cntl-zone-table');
      var $openZoneTable = $('#open-zone-table');

      function initTables() {
        $cntlZoneTable.bootstrapTable({
            url: "/api/zones/getControl",
            columns: [
              {
                field: 'name',
                title: 'Name',
                sortable: true
              },
              {
                field: 'started',
                title: 'Start Time',
                sortable: true,
                formatter: function (value) {
                  return `<span>${(value == 0 ? "" : new Date(value).toLocaleString())}</span>`;
                }
              },
              {
                field: 'actions',
                title: 'Actions',
                sortable: false,
                events: operateEvents,
                formatter: cntlOperateFormatter
              }

            ]
        });

        $openZoneTable.bootstrapTable({
            url: "/api/zones/get",
            columns: [
              {
                field: 'name',
                title: 'Name',
                sortable: true
              },
              {
                field: 'area',
                title: 'Area (sqft)',
                sortable: true
              },
              {
                field: 'swhc',
                title: 'Soil',
                sortable: true,
                formatter: function (value) {
                  var soilWHC = [ 0.75, 1.25, 1.5, 2.0 ];
                  var soilTypes = [ "Coarse", "Sandy", "Medium", "Fine" ];
                  for ( var i = 0; i < soilWHC.length; i++ )
                    if (value === soilWHC[i]) return `<span>${soilTypes[i]}</span>`;
                }
              },
              {
                field: 'irreff',
                title: 'Irrigation',
                sortable: true,
                formatter: function (value) {
                  var irrEff = [ 0.9, 0.8 ];
                  var irrTypes = [ "Drip", "Spray" ];
                  for ( var i = 0; i < irrEff.length; i++ )
                    if (value === irrEff[i]) return `<span>${irrTypes[i]}</span>`;
                }
              },
              {
                field: 'flowrate',
                title: 'Flow Rate (gpm)',
                sortable: true,
                formatter: function (value) {
                  var rates = [ 0.5, 1, 2 ];
                  var flowTypes = [ "0.5", "1.0", "2.0" ];
                  for ( var i = 0; i < rates.length; i++ )
                    if (value === rates[i]) return `<span>${flowTypes[i]}</span>`;
                }
              },
              {
                field: 'started',
                title: 'Start Time',
                sortable: true,
                formatter: function (value) {
                  return `<span>${(value == 0 ? "" : new Date(value).toLocaleString())}</span>`;
                }
              },
              {
                field: 'actions',
                title: 'Actions',
                sortable: false,
                events: operateEvents,
                formatter: openOperateFormatter
              }
            ]
        });
      }

       function cntlOperateFormatter(value, row, index) {
          var switchStyle = (row.status ? "svg-success" : "svg-secondary");
          return [
             '<div class="table-icons">',
                '<a rel="tooltip" title="Power" class="power table-actions" href="javascript:void(0)">',
                  '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">',
                    '<g>',
                      `<path class="${switchStyle}" d="M150,0L150,0C67.5,0,0,67.5,0,150l0,0c0,82.5,67.5,150,150,150l0,0c82.5,0,150-67.5,150-150l0,0 C300,67.5,232.5,0,150,0z M138.1,74c0-6.6,5.3-11.9,11.9-11.9c6.6,0,11.9,5.3,11.9,11.9c0,0,0,0,0,0v83.2c0,6.6-5.3,11.9-11.9,11.9 c-6.6,0-11.9-5.3-11.9-11.9C138.1,157.2,138.1,74,138.1,74z M211,212.6c-33.7,33.7-88.3,33.6-122-0.1s-33.6-88.3,0.1-122 c1.4-1.4,2.9-2.8,4.4-4.1c5-4.3,12.5-3.7,16.8,1.2c4.3,4.9,3.7,12.4-1.2,16.7c-26.1,22.6-28.9,62.1-6.2,88.2s62.1,28.9,88.2,6.2 c26.1-22.6,28.9-62.1,6.2-88.2c-2-2.4-4.3-4.6-6.6-6.6c-5-4.3-5.6-11.8-1.3-16.7S201,81.8,206,86c36.2,30.9,40.5,85.4,9.6,121.6 C214.1,209.4,212.6,211,211,212.6z"/>`,
                    '</g>',
                  '</svg>',
                '</a>',
            '</div>',
          ].join('');
      }

      function openOperateFormatter(value, row, index) {
          var switchStyle = (row.status ? "svg-success" : "svg-secondary");
          return [
             '<div class="table-icons">',
                '<a rel="tooltip" title="Edit" class="edit table-actions" href="javascript:void(0)">',
                  '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 299.3 299.3" style="enable-background:new 0 0 299.3 299.3;" xml:space="preserve">',
                    '<g transform="translate(0,-952.36218)">',
                      '<path class="svg-warning" d="M252.2,952.4c-1.6,0.2-3,0.9-4.1,2L90.6,1111.8c-1.2,1.1-1.9,2.6-2.1,4.2l-4.9,44.3c-0.4,3.8,2.3,7.3,6.1,7.7 c0.5,0.1,1.1,0.1,1.6,0l44.3-5c1.6-0.2,3-0.9,4.1-2l157.5-157.5c2.7-2.7,2.8-7.1,0.1-9.8c0,0,0,0-0.1-0.1l-39.4-39.4 C256.4,952.9,254.3,952.2,252.2,952.4z M253,969.2l29.6,29.6l-150.7,150.7l-33.4,3.7l3.7-33.2L253,969.2z M7,987.2 c-4.1,0.1-6.9,3.8-7,7v250.6c0,3.6,3.3,7,7,7h250.6c3.6,0,7-3.3,7-7v-149.6c0.1-3.7-3.3-7.1-7-7.1c-3.7,0-7,3.4-7,7.1v142.7H13.9 v-236.6h142.7c3.7,0.1,7.1-3.3,7.1-7c0-3.7-3.4-7-7.1-7H7z"/>',
                    '</g>',
                  '</svg>',
                '</a>',
                `<a rel="tooltip" title="Power" class="power table-actions" href="javascript:void(0)">`,
                  '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">',
                    '<g>',
                      `<path class="${switchStyle}" d="M150,0L150,0C67.5,0,0,67.5,0,150l0,0c0,82.5,67.5,150,150,150l0,0c82.5,0,150-67.5,150-150l0,0 C300,67.5,232.5,0,150,0z M138.1,74c0-6.6,5.3-11.9,11.9-11.9c6.6,0,11.9,5.3,11.9,11.9c0,0,0,0,0,0v83.2c0,6.6-5.3,11.9-11.9,11.9 c-6.6,0-11.9-5.3-11.9-11.9C138.1,157.2,138.1,74,138.1,74z M211,212.6c-33.7,33.7-88.3,33.6-122-0.1s-33.6-88.3,0.1-122 c1.4-1.4,2.9-2.8,4.4-4.1c5-4.3,12.5-3.7,16.8,1.2c4.3,4.9,3.7,12.4-1.2,16.7c-26.1,22.6-28.9,62.1-6.2,88.2s62.1,28.9,88.2,6.2 c26.1-22.6,28.9-62.1,6.2-88.2c-2-2.4-4.3-4.6-6.6-6.6c-5-4.3-5.6-11.8-1.3-16.7S201,81.8,206,86c36.2,30.9,40.5,85.4,9.6,121.6 C214.1,209.4,212.6,211,211,212.6z"/>`,
                    '</g>',
                  '</svg>',
                '</a>',
            '</div>',
          ].join('');
      }

      function detailFormatter(index, row) {
          var html = [];
        
          html.push('<p>    ')
          $.each(row, function (key, value) {
            switch (key) {
              case 'initDay':
              case 'initKc':
              case 'devDay':
              case 'devKc':
              case 'midDay':
              case 'midKc':
              case 'lateDay':
              case 'lateKc':
                html.push('<b>    ' + key + ':</b> ' + value);
                break;
            }
          });
          html.push('</p>');
          return html.join('');
      }
      

     $().ready(function(){
        var skycons = new Skycons();
        $.getJSON('/api/weather/get', (conditions) => {
          $('#weatherString').replaceWith(`<p id="weatherString" class="lead">${conditions.summary}, ${conditions.temperature.toFixed(1)}˚F</p>`);
          skycons.add("weatherIcon", conditions.icon);
          skycons.play();               
        });

        window.operateEvents = {
          'click .power': function (e, value, row, index) {
             $.ajax({
                  url: `/zones/enable/${row.id}`,
                  type: 'POST',
                  data: {'submit':true}, // An object with the key 'submit' and value 'true;
                  success: function (result) {
                    $cntlZoneTable.bootstrapTable('refresh');
                    $openZoneTable.bootstrapTable('refresh');
                  }
              });

          },
          'click .edit': function (e, value, row, index) {
            var inst = $('[data-remodal-id=editZoneModal]').remodal();

            $('[data-remodal-id=editZoneModal] #remodalTitle').text(`Edit: ${row.name} (Port #: ${row.id})`);
            $('[data-remodal-id=editZoneModal] #id').val(row.id);
            $('[data-remodal-id=editZoneModal] #name').val(row.name);
            $('[data-remodal-id=editZoneModal] #area').val(row.area);
            $('[data-remodal-id=editZoneModal] #irreff').selectpicker('val', row.irreff);
            $('[data-remodal-id=editZoneModal] #swhc').selectpicker('val', row.swhc);
            $('[data-remodal-id=editZoneModal] #flowrate').selectpicker('val', row.flowrate);

            inst.open();
          }
        };
         
        initTables();
        
        //activate the tooltips after the data table is initialized
        $('[rel="tooltip"]').tooltip();

        $(window).resize(function () {
            $cntlZoneTable.bootstrapTable('resetView');
            $openZoneTable.bootstrapTable('resetView');
        });
                
      });
     
	</script>

  </body>

</html>